.check_product {
  background: url(/images/image.webp) no-repeat;
  width: 100%;
  height: 1300px;
  object-fit: cover;
}
.loop {
  animation: loop 95s infinite linear 0.5s both;
  padding-bottom: 30px;
}
.loop li {
  width: 200px;
  height: 20px;
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

